<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="/images/Logo.png" alt="COSY ADMIN" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">COSY ADMIN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="/admin" class="nav-link">
                        <i class="fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/products" class="nav-link">
                        <i class="fab fa-product-hunt"></i>
                        <p>
                            Product Manager
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/products" class="nav-link">
                                <p><i class="fas fa-list"></i> List Product</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/products/create" class="nav-link">
                                <p><i class="fas fa-plus"></i> Create New</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/orders" class="nav-link">
                        <i class="fas fa-sort"></i>
                        <p>
                            Order Manager
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/orders" class="nav-link">
                                <p><i class="fas fa-list"></i> List Order</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/orders/create" class="nav-link">
                                <p><i class="fas fa-plus"></i> Create New Order</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/customers" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p>
                            Customer Manager
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/customers" class="nav-link">
                                <p><i class="fas fa-list"></i> List Customer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/customers/create" class="nav-link">
                                <p><i class="fas fa-plus"></i> Create New Customer</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/customers" class="nav-link">
                        <i class="fas fa-copyright"></i>
                        <p>
                            Category Manager
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/categories" class="nav-link">
                                <p><i class="fas fa-list"></i> List Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/categories/create" class="nav-link">
                                <p><i class="fas fa-plus"></i> Create New Customer</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>