<!DOCTYPE html>
<html>
<head>
    <title>Cosy Airconditioners - Daikin FTKJ Series</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="images/favicon - Copy.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="navfooter.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navigator fixme">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="brands">Brands</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="news">News</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                <div id="t2" style="display: inline-block;"><i class="fa fa-search"></i></div>
            </form>
        </div>
    </div>
</nav>
<!-- Product -->
<div class="mtop80"></div>
<div class="product-wraper" >
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner" align="center" >
            <div class="item active">
                <img src="images/daikin-21.jpg" >
            </div>

            <div class="item">
                <img src="images/daikin-22.png" width="662px">
            </div>

            <div class="item">
                <img src="images/daikin-24.jpg" width="614px">
            </div>
        </div>

        <!-- Left and right controls -->
        <%- include('partials/controls'); %>
    </div>
    <div class="product-wraper">
        <h3>Daikin FTKV Series</h3>
        <div class="detail-row">
            <div id="right-side">
                <h3>Key Featured</h3>
                <p>Next-Generation Refrigerant R-32<br>
                    Inverter Technology<br>
                    3-D Airflow<br>
                    Intelligent Eye</p>
                <ul class="info">
                    <li>
                        <p>Capacity (Cooling, Btu/hr)</p>
                        <span>8,500</span>
                    </li>
                    <li>
                        <p>Power Consumption</p>
                        <span>540kW</span>
                    </li>
                    <li>
                        <p>EER (Cooling, W/W)</p>
                        <span>4.63 W/W</span>
                    </li>
                    <li>
                        <p>Net Dimension</p>
                        <span>550x765x285</span>
                    </li>
                </ul>
                <h3>Brochure</h3>
                <a href="../../file/daikin-ftkv.pdf"><i class="fa fa-download"></i>Download</a><br>
                <a href="compare-one"><h3>Compare</h3></a>
            </div>
            <article>
                <h3>European-style design, <br>Leading Technology</h3>
                <p>The premium series FTKJ is the perfect combination of leading technology and European-style design. The product won an award for REDDOT AWARD design.</p>
                <p>In addition to the most advanced equipped features, FTKJ is also a decoration that adds elegance and modernity to every room architecture.</p>
                <img src="images/daikin-11.jpg" alt="">
                <h3>In addition to the most advanced equipped features, FTKJ is also a decoration that adds elegance and modernity to every room architecture.</h3>
                <p>Combines Vertical and Horizontal Auto-Swing simultaneously to circulate fresh air to all corners of the room.</p>
                <img src="images/daikin-12.jpg" alt="">
                <h3>Inverter Technology</h3>
                <p>An Inverter system can brings a long-term savings, by reduce household electricity bills, particularly compared to Non-inverter models. At the same time, improving the noise level of both outdoor and indoor units helps to keep the machine running smoothly, maintain a stable temperature and achieve optimal capacity.</p>
                <img src="images/daikin-13.jpg" alt="">
                <h3>Two-Area Intelligent Eye</h3>
                <p>This function uses its infrared sensor to direct airflow either toward or away from people.</p>
                <p>Additional to pevents energy wastage by using its infrared sensor to detect human movement in a room. If there is no movement for 20 minutes, it automatically adjusts the set temperature by approximately 2°C, when someone is back to the room, the air conditioner returns to the set temperature.</p>
                <img src="images/daikin-14.jpg" alt="">
                <h3>Outdoor Unit and Indoor Unit Quite Operation</h3>
                <p>When the Quiet setting is selected, the operqation sound pressure level of Indoor Unit and Outdoor unit will be decreased to SILENT level.This function will help you to sleep more comfortably at night. </p>
                <p>The air conditioner can operate at sound pressure level 19 dB(A)*, like a rustling of leaves</p>
                <p>(*) only on FTKJ25 <br>Kindly refer the specification pages for detail information</p>
                <img src="images/daikin-15.jpg" alt="">
                <h3>Durability</h3>
                <b>Anti-corrosion Treatment of Outdoor Heat Exchanger Fins</b>
                <p>The outdoor unit’s heat exchanger fins are processed using a special anti-corrosion treatment: coated with two electrostatic coatings, the surface is covered with a thin acrylic resin layer to provide enhanced resistance to acid rain and salt corrosion.</p>
                <img src="images/daikin-16.png" alt="">
                <h3>Air Purification</h3>
                <b>Titanium Apatite Filter</b>
                <p>This filter is the protective shield, providing an optimal solution to bring fresh air, eliminate odors and allergens. In proper maintenancce, this filter delivers consistent performance for approximately three years. </p>
                <b>PM2.5 Filter (option)</b>
                <p>The PM2.5 filter removes dust particles <2.5 µm in diameter for heath protection.</p>
                <img src="images/daikin-17.png" alt="">
            </article>
        </div>
        <div class="brands-product">
            <h3 style="font-size: 33px">Related Product</h3>
            <div class="related">
                <div class="product-items">
                    <a href="mitsubishi-m-series">
                        <img src="images/mit7.jpg" alt="">
                        <p>Mitsubishi M-series</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span>$650</span>
                    </a>
                </div>
                <div class="product-items">
                    <a href="panasonic-CSU9TKH-8">
                        <img src="images/panasonic-CS-U9TKH-8.jpg" alt="">
                        <p>Panasonic CS-U9TKH-8</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span>$700</span>
                    </a>
                </div>
                <div class="product-items">
                    <a href="toshiba-inverter">
                        <img src="images/toshiba-inventer-range.jpg" alt="">
                        <p>Toshiba Inverter Range 2kW-7kW</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span>$750</span>
                    </a>
                </div>
            </div>
        </div>
        <!--  comment  -->
        <%- include('partials/comments'); %>
    </div>
    <!-- end product -->
    <!--footer-->
    <div class="footer">
        <div id="right">
            <ul id="need">
                <li><a href="about">About</a></li>
                <li><a href="support">Support</a></li>
                <li><a href="sitemap">Sitemap</a></li>
            </ul>
            <ul>
                <li>Follow us:</li>
                <li><a href="https://www.facebook.com/Cosy-Airconditioners-1853628548262417/"><img src="images/facebook.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/channel/UCmd_JINRBhK_ikwHaaTIoSA"><img src="images/youtube.png" alt=""></a></li>
                <li><a href="https://twitter.com/cosyairconditi1"><img src="images/twitter.png" alt=""></a></li>
            </ul>
        </div>
        <div class="copyright" id="left">
            <p>COSY AIRCONDITIONERS</p>
            <p>Copyrights © 2021. All Rights Reserved</p>
        </div>
    </div>
</body>
<script src="js/scrollnav.js"></script>
<script src="js/mtop80.js"></script>
<script src="js/product-detail.js"></script>
</html>