<!DOCTYPE html>
<html>
<head>
    <title>Cosy Airconditioners - LG Window LW1217ERSM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="images/favicon - Copy.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="navfooter.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navigator fixme">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="brands">Brands</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="news">News</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                <div id="t2"><i class="fa fa-search"></i></div>
            </form>
        </div>
    </div>
</nav>
<!-- Product -->
<div class="mtop80"></div>
<div class="product-wraper" >
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner" align="center" >
            <div class="item active">
                <img src="images/lg-b10end-1-org.jpg" >
            </div>

            <div class="item">
                <img src="images/lg-b10end-6.jpg" height="370px" >
            </div>

            <div class="item">
                <img src="images/lg-b10end-7.jpg" height="370px">
            </div>
        </div>

        <!-- Left and right controls -->
        <%- include('partials/controls'); %>
    </div>
    <div class="product-wraper">
        <h3>LG Inverter 9200 BTU B10END</h3>
        <div class="detail-row">
            <div id="right-side">
                <h3>Key Featured</h3>
                <p>Remote included<br>
                    SmartThinQ™ Technology<br>
                    3 Cooling & Fan Speeds with Auto Cool<br>
                    24-Hour On-Off Timer</p>

                <ul class="info">
                    <li>
                        <p>BTU Performance</p>
                        <span>12,000</span>
                    </li>
                    <li>
                        <p>CEER</p>
                        <span>12.0</span>
                    </li>
                    <li>
                        <p>Dry Air Flow (CFM)</p>
                        <span>265</span>
                    </li>
                    <li>
                        <p>Dimension</p>
                        <span>23"x15"x22"</span>
                    </li>
                </ul>
                <h3>Price</h3>
                <p>$450</p>
                <h3>Brochure</h3>
                <a href="../../file/lg-lw1217ersm.pdf"><i class="fa fa-download"></i>Download</a><br>
                <a href="compare/compare-three">Compare</a>
            </div>
            <article>
                <h3>Elegant and sophisticated design</h3>
                <p>The 2-way LG Inverter 9200 BTU B10END not only possesses the elegant and sophisticated design typical of LG air conditioners, but is also equipped with a temperature display on the indoor unit to help you easily know the room temperature. present. With a capacity of 9200 BTU, the LG 9200 BTU B10END 2-way air conditioner will be the ideal choice for rooms with an area of just under 15 m2.</p>
                <img src="images/lg-b10end-2-org.jpg" alt="">
                <h3>Dual Inverter technology saves electricity</h3>
                <p>This inverter air conditioner using Dual Inverter technology not only saves 70% of electricity, but also offers the ability to cool 40% faster than conventional air conditioners by dramatically increasing capacity when starting the machine.</p>
                <img src="images/lg-b10end-3-org.jpg" alt="">
                <h3>Cool quickly with Jet Cool mode</h3>
                <p>Máy lạnh LG 9200 BTU B10END còn sở hữu chế độ làm lạnh siêu nhanh Jet Cool chỉ trong vòng 3 phút, giúp bạn tận hưởng không gian lạnh trong lành, thoải mái sau một ngày làm việc căng thẳng đầy mệt mỏi.</p>
                <img src="images/lg-b10end-4-org.jpg" alt="">
                <h3>Night sleep mode</h3>
                <p>LG air conditioning is also equipped with a self-adjusting temperature feature (night sleep mode), helping the elderly and children to have a soft, smooth sleep at night without fear of colds.</p>
                <img src="images/lg-b10end-5-org.jpg" alt="">
            </article>
        </div>
        <div class="brands-product">
            <h3 style="font-size: 33px">Related Product</h3>
            <div class="related">
                <div class="product-items">
                    <a href="mitsubishi-heat-pump">
                        <img src="images/mit8.png" alt="">
                        <p>Mitsubishi Deluxe PLA60</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span>$370</span>
                    </a>
                </div>
                <div class="product-items">
                    <a href="toshiba-digital-inverter-compact">
                        <img src="images/toshiba5.jpg" alt="">
                        <p>Toshiba Digital Inverter Compact</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span>$650</span>
                    </a>
                </div>
            </div>
        </div>
        <!--  comment  -->
        <%- include('partials/comments'); %>
    </div>
    <!-- end product -->
    <!--footer-->
    <div class="footer">
        <div id="right">
            <ul id="need">
                <li><a href="about">About</a></li>
                <li><a href="support">Support</a></li>
                <li><a href="sitemap">Sitemap</a></li>
            </ul>
            <ul>
                <li>Follow us:</li>
                <li><a href="https://www.facebook.com/Cosy-Airconditioners-1853628548262417/"><img src="images/facebook.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/channel/UCmd_JINRBhK_ikwHaaTIoSA"><img src="images/youtube.png" alt=""></a></li>
                <li><a href="https://twitter.com/cosyairconditi1"><img src="images/twitter.png" alt=""></a></li>
            </ul>
        </div>
        <div class="copyright" id="left">
            <p>COSY AIRCONDITIONERS</p>
            <p>Copyrights © 2021. All Rights Reserved</p>
        </div>
    </div>
</div>
</body>
<script src="js/scrollnav.js"></script>
<script src="js/mtop80.js"></script>
<script src="js/product-detail.js"></script>
</html>