<!DOCTYPE html>
<html>
<head>
    <title>Cosy Airconditioners - Panasonic air purifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="images/favicon - Copy.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="navfooter.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navigator fixme">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="brands">Brands</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="news">News</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                <div id="t2" style="display: inline-block;"><i class="fa fa-search"></i></div>
            </form>
        </div>
    </div>
</nav>
<!-- Product -->
<div class="mtop80"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Wrapper for slides -->
    <div class="carousel-inner" align="center" >
        <div class="item active">
            <img src="images/panasonic14.jpg" width="810px">
        </div>

        <div class="item">
            <img src="images/panasonic15.jpg" width="811px">
        </div>

        <div class="item">
            <img src="images/panasonic16.jpg    " width="811px">
        </div>
    </div>

    <!-- Left and right controls -->
    <%- include('partials/controls'); %>
</div>
<div class="product-wraper">
    <h3>Ceiling Cassette Panasonic Inverter 1-Way 29,000BTU <br>
        4 Direction of Blow</h3>
    <div class="detail-row">
        <div id="right-side">
            <h3>Key Featured</h3>
            <p>Deodorization<br>
                Six-layer powerful decomposition and removal configuration<br>
                Energy Saving</p>
            <ul class="info">
                <li>
                    <p>Applicable Room Area</p>
                    <span>Up to 46 m<sup>2</sup></span>
                </li>
                <li>
                    <p>Weight(kg)</p>
                    <span>8.5</span>
                </li>
                <li>
                    <p>Dimensions(mm)</p>
                    <span>576x403x241</span>
                </li>
            </ul>
            <h3>Price</h3>
            <p>$350</p>
            <h3>Brochure</h3>
            <a href="../../file/panasonic-air.pdf"><i class="fa fa-download"></i>Download</a><br>
            <a href="compare-six"><h3>Compare</h3></a>
        </div>
        <article>
            <h3>Advantages of 1-Way Cassette Panasonic Ceiling Cassette 29.000BTU (S-30PU2H5-8 / U-30PS2H5-8)</h3>
            <p>Fast cooling capacity <br>
                Smooth transportation <br>
                Easy to install and maintain <br>
                Modern deodorizing function</p>
            <img src="images/panasonic10.jpg" alt="">
            <h3>Specifications and Features</h3>
            <p>Panasonic Ceiling Cassette Air Conditioner  S-30PU2H5-8 / U-30PS2H5-8  Inverter 1-way 29,000BTU (3.5HP) uses gas, new model R410a 2019 imported genuine Malaysia. This is the  most premium commercial air conditioner product line on  the market</p>
            <b>Exquisite design for modern architecture</b>
            <p>Panasonic believes that one of the most important elements of indoor unit design is not affecting the interior of the room. Therefore, the flat and refined design of the Cassette Panasonic  S-30PU2H5-8 ceiling air  conditioner with a 33.5mm exposition over the ceiling brings a harmonious design to your room.</p>
            <p>With a capacity of 29,000BTU (3.5HP), Panasonic  S-30PU2H5-8 is suitable for installation for a room below 50m2: Living room, meeting room ...</p>
            <b>3600 wide airflow and blow farther</b>
            <p>Wind is blown further from the upper doors of the indoor unit. The curves in the temperature distribution graph in the room extend 3600 from the center of the indoor unit, cold air is blown further from the 4 air outlets on the indoor unit, providing a uniform and comfortable cool space.</p>
            <b>Inverter - Advanced technology to save electricity</b>
            <p>Air-  conditioning Cassette Cassette  Panasonic Inverter  S-30PU2H5-8 equipped with inverter technology saves power and superior functionality while ensuring users always feel most comfortable.</p>
            <img src="images/panasonic11.jpg" alt="">
            <b>Comfortable:</b>
            <p>Air- conditioning inverter 1-way power adjustment based on heat load, reducing the gap between room temperature and set temperature, air conditioning Panasonic Cassette Cassette  bring higher comfort than the inverter fails.</p>
            <b>Powerful:</b>
            <p>Panasonic Ceiling Cassette Inverter operates at maximum power upon start up to quickly reach the set temperature.</p>
            <img src="images/panasonic12.jpg" alt="">
            <b>NanoeX air filter technology</b>
            <p>Panasonic's NanoeX air filter technology is capable of deodorizing, inhibiting the growth of bacteria and viruses, effectively removing dirt and providing a healthier living environment.</p>
            <img src="images/panasonic13.jpg" alt="">

        </article>
    </div>
    <div class="brands-product">
        <h3 style="font-size: 33px">Related Product</h3>
        <div class="related">
            <div class="product-items">
                <a href="lg-portable">
                    <img src="images/lg10.jpg" alt="">
                    <p>LG LP0815WNR</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span>$400</span>
                </a>
            </div>
            <div class="product-items">
                <a href="toshiba-air">
                    <img src="images/toshiba12.jpg" alt="">
                    <p>Toshiba CAF-G50A</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span>$420</span>
                </a>
            </div>
            <div class="product-items">
                <a href="samsung-air">
                    <img src="images/samsung17.jpg" alt="">
                    <p>Samsung AX7000</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span>$650</span>
                </a>
            </div>
        </div>
    </div>
    <%- include('partials/comments'); %>
</div>
<!-- end product -->
<!--footer-->
<div class="footer">
    <div id="right">
        <ul id="need">
            <li><a href="about">About</a></li>
            <li><a href="support">Support</a></li>
            <li><a href="sitemap">Sitemap</a></li>
        </ul>
        <ul>
            <li>Follow us:</li>
            <li><a href="https://www.facebook.com/Cosy-Airconditioners-1853628548262417/"><img src="images/facebook.png" alt=""></a></li>
            <li><a href="https://www.youtube.com/channel/UCmd_JINRBhK_ikwHaaTIoSA"><img src="images/youtube.png" alt=""></a></li>
            <li><a href="https://twitter.com/cosyairconditi1"><img src="images/twitter.png" alt=""></a></li>
        </ul>
    </div>
    <div class="copyright" id="left">
        <p>COSY AIRCONDITIONERS</p>
        <p>Copyrights © 2020. All Rights Reserved</p>
    </div>
</div>
</body>
<script src="js/scrollnav.js"></script>
<script src="js/mtop80.js"></script>
<script src="js/product-detail.js"></script>
</html>