<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="images/favicon - Copy.png">
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<title>Cosy Airconditioners</title>
<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="style.css"/>
<link rel="stylesheet" href="navfooter.css">
<script src="js/jquery-3.2.1.min.js"></script>
<script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="jquery-match-height-master/jquery.matchHeight.js" type="text/javascript"></script>